.basic_profile_main{
    width: 100%;
    background: var(--light-grey);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 0.5rem;
}
.basic_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.basic_header button{
    outline: none;
    border: none;
    background: var(--light-blue);
    color: var(--white);
    font-family: var(--Roboto);
    font-weight: 500;
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    border-radius: 0.2rem;
    cursor: pointer;
    letter-spacing: 0.01rem;
}
.basic_header svg{
    font-size: 1.2rem;
    color: var(--red-tomato);
    cursor: pointer;
}
.basic_header button:nth-last-of-type(1){
    background: var(--red-tomato);
    display: none;
}
.basic_header button:nth-last-of-type(2){
    background: var(--green);
    display: none;
}
.basic_image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.basic_image figure{
    width: 8rem;
    height: 8rem;
    background: url(https://images.unsplash.com/photo-1628157588553-5eeea00af15c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80);
    background-position: center center;
    box-shadow: inset 0rem 0rem 0.4rem 0rem hsl(0deg 0% 0% / 50%);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 7rem;
}
.basic_info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.2rem;
}
.basic_info span{
    width: 100%;
    display: flex;
    align-items: center;
}
.basic_info span p{
    flex: 1;
    text-align: left;
    font-family: var(--poppins);
    color: var(--grey);
    font-size: 0.7rem;
    font-weight: 400;
}
.basic_info span p:first-child{
    color: var(--black-blue);
    font-weight: 500;
}
.basic_button{
    width: 100%;
}
.basic_button button{
    background: var(--red-tomato);
    border: none;
    outline: none;
    font-size: 0.7rem;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    cursor: pointer;
    color: var(--white);
    font-family: var(--Roboto);
    font-weight: 500;
    border-radius: 0.2rem;
}

/* effects */
.basic_header button:nth-last-of-type(3):hover{
    background: var(--dark-blue);
    font-weight: 600;
}
.basic_header button:nth-last-of-type(2):hover{
    background: #27cc0c;
    font-weight: 600;
}
.basic_header button:nth-last-of-type(1):hover{
    background: #db1111;
    font-weight: 600;
}
.basic_button button:hover{
    font-weight: 600;
    background: #db1111;
}
.basic_header svg:hover{
    color: #db1111;
}

/* media query */
@media screen and (max-width: 900px) and (min-width: 500px){
    .basic_profile_main{
        display: grid;
        grid-template-columns: auto auto;
        }
        .basic_header{
            order: 2;
            width: 100%;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-evenly;
        }
        .basic_image{
            order: 1;
            width: min-content;
            justify-content: flex-start;
        }
        .basic_info{
            order: 4;
            grid-column: 1/3;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .basic_button{
            display: none;
        }
        .basic_header button{
            order: 1;
            width: 100%;
            display: initial !important;
        }
        .basic_info span{
            width: 49%;
        }
        .basic_header svg{
            display: none;
        }
        .basic_image figure{
            width: 7rem;
            height: 7rem;
        }
}
@media screen and (min-height: 1350px) {
    .basic_profile_main{
    display: grid;
    grid-template-columns: min-content auto;
    }
    .basic_header{
        order: 2;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
    }
    .basic_image{
        order: 1;
        width: min-content;
        justify-content: flex-start;
    }
    .basic_info{
        order: 4;
        grid-column: 1/3;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .basic_button{
        display: none;
    }
    .basic_header button{
        order: 1;
        width: 100%;
    }
    .basic_info span{
        width: 49%;
    }
    .basic_header svg{
        display: none;
    }
    .basic_image figure{
        width: 7rem;
        height: 7rem;
    }
}