.Person_info{
    margin: 0% 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    align-items: flex-start;
    background: var(--light-grey);
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.5rem 0rem rgb(0 0 0 / 15%);
}
.Person_info h4{
    font-family: var(--poppins);
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.01rem;
    color: var(--black-blue);
}
.Person_info div{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    align-items: flex-start;
}
.Person_info div h5{
    font-family: var(--poppins);
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.01rem;
    color: var(--black-blue);
}
.Person_info div span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 0.5rem;
}
.Person_info div span p{
    flex: 1;
    text-align: left;
    font-family: var(--poppins);
    color: var(--grey);
    font-size: 0.8rem;
    font-weight: 400;
}
.Person_info div span p:nth-of-type(1){
    color: var(--black-blue);
    font-weight: 500;
}

/* media query */
@media screen and (max-width: 900px){
    .Person_info{
        margin: 0%;
        width: 100%;
    }
}
@media screen and (min-height: 1350px){
    .Person_info{
        margin: 0%;
        width: 100%;
    }
}