.profile{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    padding: var(--margin);
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 1rem;
}
.basic_profile{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.detailed_profile{
    flex: 50%;
    height: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.parent_profile{
    margin: 0% 5%;
    width: 90%;
    display: flex;
    gap: 1rem;
}
.adds_section{
    width: 25%;
    height: 100%;
    border-left: 0.2rem solid var(--grey);
}

/* media query */
@media screen and (max-width: 900px) {
    .profile{
        flex-direction: column;
    }
    .adds_section{
        display: none;
    }
    .detailed_profile{
        width: 100%;
    }
    .basic_profile{
        width: 100%;
    }
    .parent_profile{
        margin: 0%;
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    .parent_profile{
        flex-direction: column;
    }
}
@media screen and (min-height: 1350px) {
    .profile{
        flex-direction: column;
    }
    .adds_section{
        display: none;
    }
    .detailed_profile{
        width: 100%;
    }
    .basic_profile{
        width: 100%;
    }
    .parent_profile{
        margin: 0%;
        width: 100%;
        flex-direction: column;
    }
}