.Pagenavigate{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0rem;
}
.Pagenavigate p, .Pagenavigate span{
    width: 2rem;
    height: 2rem;
    font-size: 0.9rem;
    background: var(--light-grey);
    border-radius: 2rem;
    font-family: var(--poppins);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 0.4rem;
    color: var(--light-blue);
    font-weight: 500;
    cursor: pointer;
}
.Pagenavigate p{
    display: none;
}
.Pagenavigate p:nth-of-type(1){
    background: var(--light-blue);
    color: var(--white);
    display: flex;
}
.Pagenavigate p:nth-of-type(2){
    display: flex;
}
.Pagenavigate p:nth-of-type(3){
    display: flex;
}
.Pagenavigate svg{
    color: var(--light-blue);
    font-size: 1.5rem;
    margin: 0rem 0.5rem;
    cursor: pointer;
}