.proposal {
    width: 11rem;
    background: var(--light-grey);
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.5rem 0rem rgb(0 0 0 / 15%);
    height: max-content;
}

.proposal figure {
    width: 100%;
    height: 7rem;
    background-image: url(https://www.pngitem.com/pimgs/m/35-350426_profile-icon-png-default-profile-picture-png-transparent.png);
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: inset 0rem 0rem 0.4rem 0rem hsl(0deg 0% 0% / 50%);
}

.proposal figure img{
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    box-shadow: inset 0rem 0rem 0.4rem 0rem hsl(0deg 0% 0% / 50%);
}

.img_top {
    z-index: 1;
    position: absolute;
    background: rgb(0 0 0 / 25%);
    width: 11rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    opacity: 1;
    transition-duration: 0.2s;
}

.img_top p {
    flex: 1;
    text-align: center;
    color: var(--white);
    font-size: 0.8rem;
    font-family: var(--poppins);
    font-weight: 500;
    letter-spacing: 0.01rem;
    display: block;
}

.img_top p::first-letter {
    text-transform: capitalize;
}

.img_top svg {
    font-size: 1rem;
    margin: 0.2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.verify {
    color: var(--light-blue);
    background: white;
}

#unverify {
    color: var(--grey);
    background: none;
}

.report {
    color: var(--red-tomato);
    background: white;
}

.image_changer {
    margin-top: 5.8rem;
    z-index: 1;
    position: absolute;
    height: 1.2rem;
    width: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition-duration: 0.2s;
}

.image_changer span {
    height: 0.3rem;
    width: 0.3rem;
    background: var(--grey);
    border-radius: 0.5rem;
    margin: 0% 1.5%;
    cursor: pointer;
}

.image_changer span:first-child {
    background: var(--light-blue);
}

.proposal figure:hover .image_changer{
    opacity: 1;
}

.proposal figure:hover .img_top{
    opacity: 0;
}
.img_top:hover{
    opacity: 1 !important;
}

.basic_info {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.basic_info span {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.basic_info p {
    color: var(--grey);
    font-family: var(--poppins);
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
}

.basic_info h3 {
    color: var(--dark-blue);
    font-family: var(--inter);
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: capitalize;
}

.proposal aside {
    color: var(--grey);
    font-size: 0.6rem;
    font-weight: 400;
    font-family: var(--poppins);
    padding: 0rem 0.5rem;
    line-height: 0.8rem;
    height: 4rem;
    overflow: hidden;
    display: block;
}

.proposal aside::first-letter {
    text-transform: capitalize;
}

.button {
    padding: 0.5rem;
    width: 100%;
}

.button button {
    background: var(--light-blue);
    border: none;
    outline: none;
    font-size: 0.7rem;
    font-family: var(--Roboto);
    color: var(--white);
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    font-weight: 500;
    letter-spacing: 0.02rem;
    cursor: pointer;
}

/* effects */
.button button:hover {
    background: var(--dark-blue);
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    .proposal {
        width: 10rem
    }

    .proposal figure {
        height: 7rem;
    }
}

@media screen and (max-width: 500px) {
    .proposal {
        width: 12rem;
    }

    .proposal figure {
        height: 8rem;
    }
}

@media screen and (min-height: 1350px) {
    .proposal {
        width: 12rem
    }

    .proposal figure {
        height: 8rem;
    }
}