.navbar_body {
    position: fixed;
    width: 100%;
    height: auto;
    background: var(--light-grey);
    padding: var(--margin);
    display: flex;
    z-index: 19;
    align-items: center;
    box-shadow: 0.3rem 0rem 0.13rem 0.3rem rgb(0 0 0 / 12%);
    transition-duration: 0.5s;
}

.nav_logo{
    height: 3rem;
    width: 7rem;
    margin: 0.5rem 0rem;
    background-image: url(../../../public//image\ 5.svg);
    background-size: contain;
    background-position: center left;
    background-repeat: no-repeat;
    flex: 1;
}

.a_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
#navbar_on{
    top: 0rem;
}
#navbar_off{
    top: -5rem;
}
.a_container p {
    font-size: 0.8rem;
    font-family: var(--poppins);
    font-weight: 500;
    color: var(--black-blue);
    margin: 0rem 0.4rem;
    cursor: pointer;
}

.nav_icons {
    flex: 0.3;
    display: flex;
    justify-content: center;
    margin-left: 1rem;
}

.nav_icons input {
    display: none;
}

.nav_icons svg {
    font-size: 1.2rem;
    color: var(--black-blue);
    cursor: pointer;
}
.filter_icon{
    margin-left: 0.5rem;
}
.languages_select{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 5rem;
    right: 1rem;
    padding: 1rem;
    background: var(--light-grey);
    box-shadow: 0.3rem 0.3rem 0.5rem 0rem rgb(0 0 0 / 15%);
    border-radius: 0.5rem;
    transform: scale(0);
    transition-duration: 0.1s;
}
.language_section,.Account{
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.language_section h5,.Account h5{
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    font-family: var(--Roboto);
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: var(--black-blue);
}
.language_section h5 svg,.Account h5 svg{
    font-size: 1rem;
    color: var(--dark-blue);
}
.language_section span{
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    font-family: var(--Roboto);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black-blue);
    padding: 0.1rem 0.4rem;
    border: 0.2rem solid var(--light-blue);
    border-radius: 0.2rem;
    cursor: pointer;
}
.language_section span svg{
    font-size: 0.9rem;
    color: var(--light-blue);
}
.language_section div{
    padding: 0.1rem 0.4rem;
    border: 0.2rem solid var(--light-blue);
    border-radius: 0.2rem;
    flex-direction: column;
    gap: 0.2rem;
}
.language_section div p{
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.02rem;
    font-family: var(--Roboto);
    cursor: pointer;
}
.Account{
    width: 100%;
}
.Account div{
    padding: 0.1rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.Account div button{
    width: 100%;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: var(--Roboto);
    background: var(--light-blue);
    border-radius: 0.2rem;
    outline: none;
    border: none;
    color: var(--white);
    padding: 0.3rem 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
}
.Account div button svg{
    font-size: 0.9rem;
    color: var(--white);
}



#menu_lable {
    display: none;
}
#language_on{
    transform: scale(1);
}

/* effects */
.a_container p:hover {
    color: var(--red-tomato);
    font-weight: 600;
}

.filter:checked+.filter_icon {
    color: var(--red-tomato);
}

.language:checked+.language_icon {
    color: var(--red-tomato);
}

.menu:checked+.menu_icon {
    color: var(--red-tomato);
}
.language_container p:hover{
    background: var(--light-blue);
    font-weight: 500;
}
.Account div button:hover{
    background: var(--dark-blue);
    font-weight: 500;   
}
.language_section div p:hover{
    font-weight: 600;
    color: var(--red-tomato);
}

/* media query */
@media screen and (max-width: 900px) {
    .a_container {
        display: none;
    }

    .filter_icon {
        display: none;
    }

    .nav_logo {
        background-position: center center;
    }

    #menu_lable {
        display: flex;
    }
    .nav_icons{
        margin-left: 0rem;
    }
}
@media screen and (min-height: 1350px) {
    .a_container {
        display: none;
    }

    .filter_icon {
        display: none;
    }

    .nav_logo {
        background-position: center center;
    }

    #menu_lable {
        display: flex;
    }
    .nav_icons{
        margin-left: 0rem;
    }
}