@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    /* fonts root */
    --Roboto: 'Roboto', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --intera: 'Inter', sans-serif;
    /* color root */
    --dark-blue: #117182;
    --light-blue: #42AFC2;
    --red-tomato: #d41717;
    --light-grey: #F1F1F1;
    --grey: #C0C7C8;
    --white: #ffffff;
    --black-blue: #334747;
    --white-blue: #EAF4F7;
    --black: #000000;
    --green: #65FF4C;
    /* margin root */
    --margin: 0vw 8vw;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}
#__next{
    height: 100%;
    width: 100%;
}
#unavailable svg:first-of-type{
    display: none;
}
#unavailable svg:last-of-type{
    display: initial;
}

@media screen and (min-width: 900px) {
    html {
        font-size: 3.5vh !important;
    }
}

@media screen and (max-width: 1200px) {
    :root {
        --margin: 0vw 6vw;
    }
}

@media screen and (max-width: 900px) {
    :root {
        --margin: 0vw 4vw;
    }
}

@media screen and (max-width: 500px) {
    :root {
        --margin: 0vw 2vw;
    }
}
@media screen and (min-height: 1350px) {
    :root {
        --margin: 0vw 4vw;
    }
}